.formform{
    width: 150px;
    height: 200px;
}


#resultado{
    display: inline-block;
    border: 0.1em solid black;

}

.botons{
    display: flex;
    flex-direction: row;
}

.col1, .col2{
    display: flex;
    flex-direction: column;
}

.row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
}

input {
    width: 30px;
    height: 30px;
}
