body {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

header{
    justify-self: center;
    align-self: center;
    text-align: center;
}

.formform {
    justify-self: center;
    align-self: center;
    height: 100%;
}

.resultado {
   
    text-align: center;
    font-family: 'Orbitron', Helvetica, sans-serif;
    font-size: 1.1em;
    border-radius: 0.5em;
    background-color: white;
    caret-color: #ffffff00;
}

.resultadototal{
    color: #097200;

}

.resultadoerror {
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
    color: red;
}

.botones {
   display: grid;
   grid-template-columns: 75% 25%;
   height: 100%;
}
.col1{
    display: grid;
    height: 100%;
}


footer{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
