body {
    display: grid;
}


.formform {
    width: 150px;
    height: 200px;
}

.resultado {
    width: 117px;
    height: 20px;
    text-align: center;
    font-family: 'Orbitron', Helvetica, sans-serif;
    font-size: 1.1em;
    border-radius: 0.5em;
    background-color: white;
    caret-color: white;
}

.resultado:focus {
    background-color: #cecef0;
    caret-color: #cecef0;
}

.resultadototal{
    color: #097200;
}

.resultadoerror {
    font-family: Helvetica, sans-serif;
    font-size: 0.7em;
    color: red;
}

.botones {
    display: flex;
    flex-direction: row;
}

.col1,
.col2 {
    display: flex;
    flex-direction: column;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    flex-direction: row;
}

input {
    width: 30px;
    height: 30px;
}